<html>
  <head>
    <title>My Angular App!</title>
    <meta name="viewport" content="width=device-width">
    <script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.js"> </script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/jquery.countdown.js"></script>


  </head>
  <body ng-app="ToastAI" ng-controller="MainCtrl" ng-init="getUser()">
    <div class="ui sidebar inverted vertical menu blue">
      <a class="item">
        Login/User
      </a>
      <a class="item" href="/toast/view">>
        View Toast
      </a>
      <a class="item">
        About us
      </a>
      <a class="item">
        Contact Us
      </a>
    </div>
    <div class="pusher">
      <div class="ui secondary  blue inverted menu">
        <a class="icon item" onclick="togglesidebar()">
          <i class="ui content icon" >  </i> 
        </a>
        <a class="header item" href="/">
    T.O.A.S.T. AI
  </a>
      </div>
      <div class="ui container" >
        <div class="ui blue inverted secondary segment centered header">
          {{currentUser.name}}'s toast!
        </div>
        <div style="text-align:center; margin:auto">
          <div class="ui segment" ng-init="getReccomendedTime()">
            <div class="ui large header"> Recommended </div>
            <p> Based on your previous toast, we recommend this:</p>
             <img style="margin:auto" class="ui image" src="/Toasts/level3.jpg">
             <div class="ui toastbutton button" ng-click="sendToast(recoomendedTime)"> Make Toast</div>
        </div>
        <div class="ui divider"> </div> 
        <div class="ui six column grid" >
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level1.jpg" ng-click="sendToast(1)"> </a> 
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level2.jpg" ng-click="sendToast(1)"> </a>
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level3.jpg" ng-click="sendToast(2)"> </a>
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level4.jpg" ng-click="sendToast(2)"> </a>
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level5.jpg" ng-click="sendToast(3)"> </a>
          <a href="#" class="ui column"> <img class="ui image" src="/Toasts/level6.jpg" ng-click="sendToast(3)"> </a>

        </div>
        <div class="ui divider"> </div>
        <div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header" style="font-size:2.5em">
Toasting 
  </div>
  <div class="image content">
    <div class="makecentered image">
      <i class="ui hourglass start icon"></i>
    </div>
    <div class="makecentered description">
      <p>Your toast is toasting. <p><strong><span id="clock"></span></strong></p> </p>
    </div>
  </div>
  
</div>
    </div>
  </body>
  <script>
  function togglesidebar() {
$(".ui.sidebar").sidebar("toggle")
 }
 $(".ui.checkbox").checkbox()
</script>
<style>
.header {
  text-align:center
}
.makecentered {
  text-align:center;
  margin:auto
}

.toastbutton {
  margin:10px !important
}
body {
  background-color: #E9ECED;
}
</html>


